@model IEnumerable<ShopCore.ViewModel.ShoppingViewModel>
@{
    TempData["Title"] = "Index";
}
@section scripts{
    <script type="text/javascript">
        function AddToCart(item) {
            let itemId = $(item).attr("itemid");
            let formData = new FormData();
            formData.append("ItemId", itemId);

            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Shopping/Index',
                success: function (data) {
                    if (data.Success) {
                        $("#cartItem").text("Cart(" + data.Counter + ")");
                        alert("Succesful.")
                    }

                },
                error: function () {
                    alert("There is some problem.")
                }
            });
        }
    </script>
}
<h2 class="text-center">Catalog</h2>
<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="border: 2px solid grey; background-color:white">
                <div style="text-align: center; border-bottom: 2px solid blue">
                    <h3> @item.ItemName</h3>
                </div>
                <div>
                    <div class="col-md-12">
                        @{
                            string imageBase64 = Convert.ToBase64String(item.Image);
                            string imageSrc = string.Format("data:image/.;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="210" height="160" />
                         }
                    </div>
                    <div class="col-md-12" style="font-size: 18px">
                        <b>@item.ItemBrand</b>
                    </div>
                    <div class="col-md-12" style="text-align: left">
                        <b>@item.Description</b>

                    </div>
                </div>
                <div class="col-md-12" style="font-size: 18px; border-top: 2px solid blue; padding: 2px; text-align: right">
                    <b>@item.ItemPrice.ToString("#,##,00лв")</b>
                </div>

                <div class="col-md-12" style="text-align: right; margin-bottom: 10px; border-top: 2px solid blue; padding: 2px">

                    <button class="btn btn-primary" itemid="@item.ItemId" id="btnAddToCart" onclick="AddToCart(this)" asp-controller="Shopping" asp-action="Index">Add to cart</button>

                </div>
            </div>
        }
    </div>
</div>