@model ShopCore.ViewModel.ItemViewModel
@{
    ViewBag.Title = "Index";

}

<h2>Add an item</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            SaveItem();
        });
        $("#btnReset").click(function () {
            ResetItem();
        });
    });

    function ResetItem() {
        $("#CategoryId").val("1");
        $("#ItemCode").val("");
        $("#ItemName").val("");
        $("#ItemBrand").val("");
        $("#Description").val("");
        $("#ItemPrice").val("");
        $("#ImagePath").val("");
    }

    function SaveItem() {
        let formData = new FormData;
        formData.append("CategoryId", $("#CategoryId").val());
        formData.append("ItemCode", $("#ItemCode").val());
        formData.append("ItemName", $("#ItemName").val());
        formData.append("ItemBrand", $("#ItemBrand").val());
        formData.append("Description", $("#Description").val());
        formData.append("ItemPrice", $("#ItemPrice").val());
        formData.append("ImagePath", $("#ImagePath").get(0).files[0]);

        $.ajax({
            async: true,
            dataType: 'JSON',
            type: 'POST',
            contentType: false,
            processData: false,
            url: '/Item/Index',
            data: formData,
            success: function (data) {
                if (data.Success) {
                    alert(data.Message);
                    ResetItem();
                }
            },
            error: function () {
                alert("There is a problem with adding an item.")
            }
        });
    }
</script>
<div class="container">
    <div class="col-md-4">
        <div class="form-group">
            Category :
            @Html.DropDownListFor(Model => Model.CategoryId, new SelectList(Model.CategorySelectListItem, "Value", "Text"),
   new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Item Code :
            @Html.TextBoxFor(Model => Model.ItemCode, new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Item Name :
            @Html.TextBoxFor(Model => Model.ItemName, new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Item Brand :
            @Html.TextBoxFor(Model => Model.ItemBrand, new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Description :
            @Html.TextBoxFor(Model => Model.Description, new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Item Price :
            @Html.TextBoxFor(Model => Model.ItemPrice, new { @class = "form-control", autocomplete = "Off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Item Image :
            @*@Html.TextBoxFor(model => model.ImagePath, new { type = "file", @class = "form-control" })*@
        </div>
    </div>

    <div>
        <input type="button" value="Save" name="save" class="btn btn-primary" id="btnSave" />
        <input type="button" value="Reset" name="reset" class="btn btn-danger" id="btnReset" />
    </div>
</div>

