@model IEnumerable<ShopCore.ViewModel.ShoppingCartModel>
@{
    ViewBag.Title = "ShoppingCart";
    decimal TotalAmount = 0.00M;
}


@using (Html.BeginForm("AddOrder", "Shopping", FormMethod.Post))
{

    if (TempData["username"] == null)
    {
        <h2>Log in first!</h2>
    }
    else
    {
<h2>@TempData["username"].ToString()'s Shopping Cart</h2>
<table class="table-condensed" style="width:100%">
    @{
        string userName = @TempData["username"].ToString();
    }
    @foreach (var item in Model)
    {
        TotalAmount += item.Total;
        <tr>
            <td>
                @{
                    string imageBase64 = Convert.ToBase64String(item.Image);
                    string imageSrc = string.Format("data:image/.;base64,{0}", imageBase64);
                    <img src="@imageSrc" width="50" height="50" />
                }
            </td>
            <td style="text-align: right">
                @item.ItemName
            </td>
            <td style="text-align: right">
                @item.Quantity.ToString("x#,##0")
            </td>
            <td style="text-align: right">
                @item.UnitPrice.ToString("#,##,00лв.")
            </td>
            <td style="text-align: right">
                @item.Total.ToString("#,##,00лв.")
            </td>
        </tr>
    }
    <tr style="border-top:2px solid blue">
        <td colspan="4" style="text-align: right">
            <h3>Total Amount:</h3>
        </td>
        <td style="text-align: right">
            <h3>@TotalAmount.ToString("#,##,00лв.")</h3>
        </td>
    </tr>
    <tr style=" text-align: right">
        <td colspan="5">
            <input type="submit" value="Send request" name="Save" class="btn btn-primary" />
        </td>
    </tr>
    <tr style=" text-align: center">
        <td colspan="5">
            @Html.ActionLink("Back to Catalog", "Index", "Shopping")
        </td>
        <td colspan="5">
            @Html.ActionLink("History", "ShoppingHistory", "Shopping")
        </td>

    </tr>
</table>
    }
}
